.footer  {
  width: 100%;
}

.footerimg .footertext {
  opacity: 0;
  transition: opacity 1s;
}

.footerimg:hover .footertext {
  opacity: 1;
  top: 100%;
  position: absolute;
  z-index: 1;
}

/* Logo Animation */

@keyframes color-rotate {
  from {
      filter: hue-rotate(0deg);
  }
  to {
      filter: hue-rotate(360deg);
  }
}

.logo {
  margin-bottom: 5rem;
}

.logo:hover {
  animation: color-rotate 2s;
  animation-iteration-count: infinite; 
  animation-direction: alternate;
}